src/test/resources/flow.json
[{
  "id": "153b9ffe.160cc",
  "type": "tab",
  "label": "Flow 1",
  "disabled": false,
  "info": ""
}, {
  "id": "e8324be8.4c31c8",
  "type": "tab",
  "label": "Flow 2",
  "disabled": false,
  "info": ""
}, {
  "id": "b2e38ee7.a176a8",
  "type": "status",
  "z": "153b9ffe.160cc",
  "name": "",
  "scope": null,
  "x": 360,
  "y": 200,
  "wires": [
    []
  ]
}, {
  "id": "1a61e1e2.e6e84e",
  "type": "status",
  "z": "153b9ffe.160cc",
  "name": "",
  "scope": null,
  "x": 200,
  "y": 180.25,
  "wires": [
    []
  ]
}, {
  "id": "92c9980f.3d0cf",
  "type": "inject",
  "z": "153b9ffe.160cc",
  "name": "",
  "topic": "",
  "payload": "",
  "payloadType": "date",
  "repeat": "",
  "crontab": "",
  "once": false,
  "x": 246,
  "y": 65.25,
  "wires": [
    ["c0efc607.e928d"]
  ]
}, {
  "id": "c0efc607.e928d",
  "type": "debug",
  "z": "153b9ffe.160cc",
  "name": "",
  "active": true,
  "console": "false",
  "complete": "false",
  "x": 553,
  "y": 68.5,
  "wires": []
}, {
  "id": "24b8e80f.740a98",
  "type": "inject",
  "z": "e8324be8.4c31c8",
  "name": "",
  "topic": "",
  "payload": "",
  "payloadType": "date",
  "repeat": "",
  "crontab": "",
  "once": false,
  "x": 400,
  "y": 72.25,
  "wires": [
    ["e9ca1562.4317f"]
  ]
}, {
  "id": "a28c6aa2.c059e8",
  "type": "inject",
  "z": "e8324be8.4c31c8",
  "name": "",
  "topic": "",
  "payload": "",
  "payloadType": "date",
  "repeat": "",
  "crontab": "",
  "once": false,
  "x": 365,
  "y": 163.25,
  "wires": [
    ["e9ca1562.4317f"]
  ]
}, {
  "id": "9d3748cd.bde54",
  "type": "debug",
  "z": "e8324be8.4c31c8",
  "name": "",
  "active": true,
  "console": "false",
  "complete": "false",
  "x": 757,
  "y": 132.5,
  "wires": []
}, {
  "id": "e9ca1562.4317f",
  "type": "delay",
  "z": "e8324be8.4c31c8",
  "name": "",
  "pauseType": "delay",
  "timeout": "5",
  "timeoutUnits": "seconds",
  "rate": "1",
  "nbRateUnits": "1",
  "rateUnits": "second",
  "randomFirst": "1",
  "randomLast": "5",
  "randomUnits": "seconds",
  "drop": false,
  "x": 520,
  "y": 127.75,
  "wires": [
    ["9d3748cd.bde54", "533c1b49.919344"]
  ]
}, {
  "id": "533c1b49.919344",
  "type": "function",
  "z": "e8324be8.4c31c8",
  "name": "",
  "func": "\nreturn msg;",
  "outputs": "2",
  "noerr": 0,
  "x": 609,
  "y": 195.75,
  "wires": [
    ["9d3748cd.bde54"],
    ["9d3748cd.bde54"]
  ]
}, {
  "id": "da0170d4.f6d18",
  "type": "comment",
  "z": "e8324be8.4c31c8",
  "name": "test",
  "info": "body",
  "x": 610,
  "y": 320,
  "wires": []
}, {
  "id": "9786f406.e00df8",
  "type": "sentiment",
  "z": "e8324be8.4c31c8",
  "name": "",
  "x": 262,
  "y": 498.5,
  "wires": [
    []
  ]
}, {
  "id": "e4d290ab.38be28",
  "type": "join",
  "z": "e8324be8.4c31c8",
  "name": "",
  "mode": "auto",
  "build": "string",
  "property": "payload",
  "propertyType": "msg",
  "key": "topic",
  "joiner": "\\n",
  "joinerType": "str",
  "accumulate": "false",
  "timeout": "",
  "count": "",
  "x": 265,
  "y": 363.75,
  "wires": [
    []
  ]
}]